.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
  //color: lighten($text-color, 30%);
  color: lighten($text-color, 20%);
  a {
    color: lighten($link-color, 20%);
  }
  font-size: 0.9em;
}
